body {
    background-color: #dfb4b4;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.container p {
    color: gray;
}

#main-header {
    background-color: #ffffff;
    color: #000000;
}

#navbar {
    background-color: #f4f4f4;
    color: #cd2653;
}

#navbar ul {
    padding: 0;
    list-style: none;
}

#navbar li {
    display: inline;
}

#navbar a {
    color: #cd2653;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#showcase {
    background-image: url(/bandeira\ vermelha/banner.jpg);
    background-position: center right;
    height: 350px;
}

#articles a {
    color: #cd2653;
    text-decoration: none;
    font-size: 20px;
    padding: 0;
}

#main-footer {
    background-color: #f4f4f4;
    color: #000000;
}

#main-footer ul {
    padding: 0;
    list-style: none;
}

#main-footer a {
    color: #cd2653;
    text-decoration: none;
    font-size: 10px;
    padding-right: 15px;
}

form {
    border: 3px solid #f1f1f1;
    height: 1000px;
}
  

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
  
  
button:hover {
    opacity: 0.8;
}
  
  
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

span.psw {
    float: right;
    padding-top: 16px;
}
  
  /* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
}

#main-section a {
    color:#cd2653;
    text-decoration: none;
}

#news p {
    color: #000000;
}
.strong-italic {
    font-size: 20px;
    font-style: italic ;
    font-weight: bold ;
}

.italic {
    font-size: 18px;
    font-style: italic;
}